.hero {
  background-color: var(--secondary-body-color);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  max-width: 1600px;
  height: 400px;
}

.hero__titel {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-light);
 max-width: 360px;
  margin: auto;
  margin-bottom: 30px;
}

// /* Замовити послугу */
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-light);
  background-color: var(--backgraund-color-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-fanc);

  &:hover,
  &:focus {
    background-color: var(--accent-backgraund-color-btn);
  }
}

@media screen and (max-width: 767px) {
  .hero__button {
    padding: 10px 24px;
  }
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mobile/bg-mobile.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
      background-image: url('../images/mobile/bg-mobile@2x.jpg');
    }
  }
}

@media screen and (min-width: 768px) {
  .hero__button {
    padding: 10px 24px;
  }
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    max-width: 1199px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/tablet/bg-tablet.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: url('../images/tablet/bg-tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 24px;
  }
  .hero {
    padding-bottom: 200px;
    height: 600px;
    padding-top: 200px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/desktop/bg.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
      background-image: url('../images/desktop/bg@2x.jpg');
    }
  }
}

// .hero {
//   padding-top: 118px;
//   padding-bottom: 118px;
//   text-align: center;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/bg.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   margin-left: auto;
//   margin-right: auto;
//   background-position: center;
//   max-width: 1600px;
//   height: 400px;
// }

// .hero {
//   background-color: var(--secondary-body-color);
//   padding-top: 200px;
//   padding-bottom: 200px;
//   text-align: center;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/bg.jpg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   margin-left: auto;
//   margin-right: auto;
//   background-position: center;
//   max-width: 1600px;
//   height: 600px;
// }

// @media (min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .box {
//     background-image: url('photo@2x.png');
//   }
// }

// .hero__titel {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--primary-text-color-light);
//   width: 696px;
//   margin: auto;
//   margin-bottom: 30px;
// }
// // /* Замовити послугу */
// .hero__button {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   letter-spacing: 0.06em;
//   color: var(--primary-text-color-light);
//   background-color: var(--backgraund-color-btn);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   padding: 10px 32px;
//   transition: background-color var(--transition-dur-and-fanc);

//   &:hover,
//   &:focus {
//     background-color: var(--accent-backgraund-color-btn);
//   }
// }
